/**
 * Variables
*/

/* Typography */
$h1-font-size: 24px;
$p-font-size: 16px;

/* Breakpoints */
/* Paths */
/* Grid setup */
/* Colour palette */
$black: #000;
$white: #fff;
$light-gray: #f1f1f1;

$body-background-color: #f1f1f1;
$foreground-color: #fff;
$caption-color: #464646;
$accent-color: #999;
$link-color: #ec1f4e;
$text-color: #464646;

/* Components */
