/* Core variables */
@import "base/vars";

/* CSS Reset */
@import "base/reset";

/* Mixins, helpers and functions */
@import "base/mixins";

/* Fonts */
@import "base/fonts";

body {
  background-color: $body-background-color;
  color: $text-color;
  font-family: "Nanum Gothic", sans-serif;
  height: 100%;
}

.outer-container {
  width: 100%;
  height: 100%;
  display: table;
}

.inner-container {
  text-align: left;
  display: table-cell;
  vertical-align: middle;
  justify-content: center;

  /* align horizontal */
  align-items: center;

  /* align vertical */
}

#app-container {
  background-color: $white;
  margin: 25px auto;
  width: 500px;
  box-shadow: rgb(100 100 111 / 20%) 0 7px 29px 0;
}

#header {
  display: flex;
  border-bottom: 1px solid $accent-color;
  justify-content: space-between;
}

#title {
  font-size: 24px;
  margin: 20px 5px;
}

.task-completed input {
  text-decoration: line-through;
}

.task-item input {
  font-size: 16px;
  border: none;
  width: 450px;
}

#add-task-form {
  display: flex;
  border-bottom: 1px solid $accent-color;
  justify-content: space-between;
}

#add-task-form input {
  margin: 20px 5px;
  border: none;
  font-size: 16px;
  font-style: italic;
  width: 100%;
}

.task-container {
  display: flex;
  position: relative;
  align-items: center;
  border-bottom: 1px solid $accent-color;
  width: 100%;
}

.task-item {
  margin: 0 5px;
  font-size: 16px;
}

#button-div {
  display: flex;
  border-bottom: 1px solid $accent-color;
  background-color: $body-background-color;
}

#clear-completed {
  border: none;
  font-size: 20px;
  text-align: center;
  font-family: inherit;
  height: 50px;
  width: 100%;
}

#clear-completed:hover {
  background-color: $accent-color;
  color: $white;
  cursor: pointer;
}

/* Font Awesome */

.button,
.fa-square,
.fa-check-square {
  margin: 20px 5px;
  color: $accent-color;
  cursor: pointer;
}

#remove-all-button {
  background-color: $white;
  border: none;
  padding: 10px;
  margin-right: 10px;
}

#remove-all-button:hover {
  background-color: #f94144;
  color: $white;
}

#add-task-button {
  background-color: $white;
  border: none;
  cursor: pointer;
  margin-right: 6px;
}

#add-task-icon {
  color: $accent-color;
  padding: 7px;
}

#add-task-button:hover {
  background-color: #74c69d;
}

#add-task-icon:hover {
  color: $white;
}

#delete-icon-button {
  position: absolute;
  margin-right: 12px;
  right: 0;
  background-color: $white;
  border: none;
  cursor: pointer;
}

.task-container #delete-task-icon {
  color: $accent-color;
}

#delete-icon-button:hover {
  color: $white;
}

#delete-task-icon:hover {
  color: #f94144;
}