/* Core variables */
@import "base/vars";

/* CSS Reset */
@import "base/reset";

/* Mixins, helpers and functions */
@import "base/mixins";


/* Components */
body {
  background-color: $body-background-color;
  color: $text-color;
}

.outer-container {
  display: table;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.middle-container {
  display: table-cell;
  vertical-align: middle;
}

.inner-container {
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  /* Whatever width you want */
}
