/* Core variables */
@import "base/vars";

/* CSS Reset */
@import "base/reset";

/* Mixins, helpers and functions */
@import "base/mixins";

/* Fonts */
@import "base/fonts";


/* Components */
body {
  background-color: $body-background-color;
  color: $text-color;
  font-family: 'Nanum Gothic', sans-serif;
  height: 100%;
}

.outer-container {
  width: 100%;
  height: 100%;
  display: table;
}

.inner-container {
  text-align: left;
  display: table-cell;
  vertical-align: middle;
  justify-content: center;
  /* align horizontal */
  align-items: center;
  /* align vertical */
}

#todos-container {
  background-color: $white;
  margin: 25px auto;
  width: 500px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

#todos-header {
  display: flex;
  border-bottom: 1px solid $accent-color;
}

#todos-h1-title {
  font-size: 24px;
  margin: 20px 5px;
}

#add-todo-form {
  display: flex;
  border-bottom: 1px solid $accent-color;

}

#add-todo-form input {
  margin: 20px 5px;
  border: none;
  font-size: 16px;
  font-style: italic;
  width: 100%;
}

.todo-item-container {
  display: flex;
  border-bottom: 1px solid $accent-color;
}

.todo-item {
  margin: 20px 5px;
  font-size: 16px;
}

#clear-button-div {
  display: flex;
  border-bottom: 1px solid $accent-color;
  background-color: $body-background-color;
}

#clear-button {
  border: none;
  margin: 20px 5px;
  font-size: 20px;
  text-align: center;
  font-family: inherit;
  width: 100%;
}